# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
server/node_modules

# Build
dist
dist-ssr
build
.eslintcache

# Env
.env
.env.local
.env.*.local
server/.env

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
